<div id="all-surveys">
  <h2><%=@username%></h2>
<h3 id='surveys'>Surveys</h3>
<% @surveys.each do |survey| %>
<div class="survey-info">
  <div class='survey-stats'>
    <a href='/survey/stats/<%= survey.id %>' class="stats-img"><img src="/stats.png" alt="stats"></a>
  </div>
  <div class='survey-name'>
    <%= survey.name %>
  </div>
  <div class='survey-link'>
    <a href="/survey/<%= survey.id %>"><%= "#{request.base_url}/survey/#{survey.id}" %></a>
  </div>
</div>
<% end %>

</div>
