<h2>Current results for "<%=@survey.name%>"</h2>
<%@survey.questions.each do |question|%>
  <h3><%=question.content%></h3>
  <%question.answers.each do |answer|%>
    <div class='question-data'>
      <%=answer.order%>. <%=answer.content%>
      <div class="adjustable question<%= answer.order %>" id='<%="#{question.id }-#{answer.order}"%>'></div>
    </div>
  <%end%>
<%end%>
