<h2 id="survey-title"><%=@survey.name%></h2>
<%if current_user.email == @survey.user.email%>
  <div id='share-url'>
    <h3>Your Survey: <%=@survey.name%></h3>
    <a href="/survey/<%=@survey.id%>"><%=request.base_url%>/survey/<%=@survey.id%></a>
  </div>
<%end%>
<div id="doge-container">
  <div class="doge-carousel">
    <div class="doge-frames">
      <%@survey.questions.each do |question|%>
        <div class="doge-item">
          <div class='question' id="<%= question.id %>"><%=question.content%></div>
          <%question.answers.each do |answer|%>
            <input type='radio' tag="option-values" name='<%=question.id%>' value='<%=answer.id%>' class='answer'><%=answer.content%>
            <br>
          <%end%>
        </div>
      <%end%>
    </div>
  </div>
  <button id="next-question" disabled>Next</button>
</div>
